<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup Page</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <style>
            body {
                background-color: #000;
                color: #FFF;
            }
    
            .form-border {
                border-color: #F5167E;
            }
    
            .btn-primary {
                background-color: #F5167E;
                color: #FFF;
                border: none;
            }
    
            .btn-primary:hover {
                background-color: #D4106E;
            }
            .card{
                background-color: black;
                width: 100%; /* Adjust the width as needed */
                margin: 0 auto; /* Center the card on the page */
            }
            #text{
                color: white;
            }
            .mail-icon {
                font-size: 5rem; /* Adjust the font size as needed */
                color: #F5167E;
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card form-border mt-5">
                        <div class="card-body">
                            <div class="mt-5">
                                <h2 class="card-title text-center mb-4" style="color:#F5167E;">Email Confirmation</h2>
                            </div>
                            <div class="mail-icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="mt-3 ">
                                <h4 id="text" class="text-center h4">Please check your mail to reset password</h4>

                            </div>
                            <div class="d-flex justify-content-center align-item-center">
                                <div class=" w-25">
                                    <div class="d-grid mt-4">
                                        <a href="/admin"><button type="submit" class="w-100 btn btn-primary p-2 h4">Continue</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Bootstrap JS and dependencies (optional) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    
</html>
