<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flim Flex</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <style>
            body {
                background-color: #000;
                color: #FFF;
            }
    
            .form-border {
                border-color: #F5167E;
            }
    
            .btn-primary {
                background-color: #F5167E;
                color: #FFF;
                border: none;
            }
    
            .btn-primary:hover {
                background-color: #D4106E;
            }
            .card{
                background-color: black;
                width: 100%; /* Adjust the width as needed */
                margin: 0 auto; /* Center the card on the page */
            }
            #text{
                color: white;
            }
            .mail-icon {
                font-size: 5rem; /* Adjust the font size as needed */
                color: #F5167E;
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card form-border mt-5">
                        <div class="card-body">
    
                            <div class="mail-icon">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="mt-3 ">
                                <p id="text" class="text-center h4">Password Reset Successfully</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Bootstrap JS and dependencies (optional) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    
</html>
