

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup Page</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <style>
            body {
                background-color: #000;
                color: #FFF;
            }
    
            .form-border {
                border-color: #F5167E;
            }
    
            .form-control {
                background-color: #000;
                color: #FFF;
                border-color: #F5167E;
            }
    
            .form-control:focus {
                background-color: #000;
                color: #FFF;
                border-color: #F5167E;
                box-shadow: 0 0 0 0.25rem rgba(245, 22, 126, 0.25);
            }
    
            .btn-primary {
                background-color: #F5167E;
                color: #FFF;
                border: none;
            }
    
            .btn-primary:hover {
                background-color: #D4106E;
            }
            .card{
                background-color: black;
                width: 75%; /* Adjust the width as needed */
                margin: 0 auto; /* Center the card on the page */
            }
            #text{
                color: white;
            }
            .icon {
                position: absolute;
                right: 10px;
                top: 70%;
                transform: translateY(-50%);
                cursor: pointer;
                color:#F5167E
            }
            .logo {
                width: 100px; /* Adjust the width of the logo */
                margin: 0 auto 20px; /* Center the logo and add margin to separate from the welcome text */
                display: block; /* Center the logo horizontally */
            }
        </style>
    </head>
    
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card form-border">
                        <div class="card-body">
                            <div class="mt-5">
                                <img src="path/to/your/logo.png" alt="Logo" class="logo">
                                <h2 class="card-title text-center mb-4"id='text'>Forgot Your Password?</h2>
                            </div>
                            <form id="signup-form" class="px-5" method="post">
                                <% 
    if(typeof message !=='undefined'){
        %>
        <p id="text"><%= message %></p>
        <%
    }   
%>
                                
                                <div class="mb-3">
                                    <label for="email" class="form-label" id="text">Enter Email Address:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                
                                <div class="d-grid mt-5" >
                                    <a href="/AdminForgotConfirmationPage" >
                                        <button type="submit" class="btn btn-primary w-100 p-2 h4">Send Reset Link</button>
                                    </a>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Bootstrap JS and dependencies (optional) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    
</html>
