/* style.css */
/* body {
    font-family: Arial, sans-serif;
    background-color: black;
    padding: 20px;
} */

h2 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="time"],
input[type="date"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: black;
  color: #f5167e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: black;
}

/* Set a fixed width for the select element */
#genre {
  width: 360px; /* Adjust the width as needed */
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

/* Your CSS file (your-css-styles.css) */

/* .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    width: 150px; 
    text-align: right;
    margin-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="time"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    flex: 1;
} */
