body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.seat {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

.booked {
    background-color: #F5167E;
    cursor: not-allowed;
    color: white;
}
