
/* Top sale template*/
#top-sale .owl-carousel .item .product a {
    overflow: hidden;
    text-decoration: none;
  }
  #top-sale .owl-carousel .item .product img {
    transition: transform 0.5s ease;
  }
  #top-sale .owl-carousel .item .product img:hover {
    transform: scale(1.1);
  }
  #top-sale .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
  }
  #top-sale .owl-carousel .owl-nav button.owl-prev {
    left:0;
    font-size: 35px;
    color: white;
  }
  #top-sale .owl-carousel .owl-nav button.owl-next {
    right: 0;
    font-size: 35px;
    color: white;
  }
  #special-price .grid .grid-item {
      margin-left: 20px;
      margin-top: 15px;
  }
  