<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film Flex</title>
    <!-- Bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
   
   

    <!-- Font Awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!--Owl Carousal CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/CSS/userHome.css" />
    <link rel="stylesheet" href="/CSS/booking.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <!-- jQuery (required for Bootstrap Datepicker) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <% if (movie!='') %>
    <style>
       
        /* Target the datepicker icon and set its color to pink (#f5167e) */
      /* Try to target the datepicker icon using inline styling (browser-specific) */
      #datepicker::-webkit-calendar-picker-indicator {
                filter: invert(1);
                color: #f5167e ;
      }

      custom-time-input {
    width: 150px;
    height: 30px;
    font-size: 14px;
    background-color: black;
    color: #f5167e;
    text-transform: uppercase;
    position: relative;
  }

  .custom-time-input::before {
    content: "\25BA"; /* Unicode character for a right-pointing triangle (▶) */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
  }
   

      .banner {
        position: relative;
        text-align: center;
        background-image: url("/MovieImages/<%= movie.image%>");
        background-size: cover;
        background-position: center;
        height: 100vh;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(
          0,
          0,
          0,
          0.75
        ); /* Black background with 70% opacity */
      }

      .text-over-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        
      }

      .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        background-color: transparent;
      }

      .navbar-nav {
        margin: 0 auto;
      }

      .white-line {
        margin-left: 10%;
        height: 2px;
        background-color: white;
        position: absolute;
        width: 80%;
        bottom: 75vh;
      }
      @media (max-width: 768px) {
        .banner {
          height: auto;
          min-height: 70vh;
          background-size: cover; /* Ensure the background image covers the element */
        }

        .overlay {
          height: 100%;
        }
        .text-over-overlay {
          display: none;
        }
      }
      .button-group button.active {
        border-color: #f5167e;
      }
    </style>
  </head>
  

  <body style="background-color: black">

    <!-- Banner -->
    <div class="banner">
      <div class="overlay"></div>
      <div class="text-over-overlay" style="margin-left: 20% ;text-align: left;">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h2 ><%= movie.title%></h2>
        <p class="mt-3" style="font-size: 22px;" >
            <%= movie.genre%>
        </p>

        <!-- <p style="font-size: 30px;">2023  <i class="fa-regular fa-clock" style="color: #f5167e; margin-left: 20px;"></i> 2 hours</p> -->


        <div class="d-flex mt-5 px-5 justify-content-between">
          <div class="p-2">
            <div
              class="px-4 py-2"
              style="
                background-color: #f5167e;
                border-radius: 20px;
                white-space: nowrap;
               
              "
            >
              Book Tickets
            </div>
          </div>

         
        </div>
      </div>

      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand ms-5 py-2 rounded" href="#">
            <img src="/assets/logo.png" alt="" class="img-fluid" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse me-5" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto">
              <li class="nav-item px-5">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/home"
                  
                  >Home</a
                >
              </li>
              <li class="nav-item px-5">
                <a class="nav-link" href="/movie" style="color: #f5167e">Movies</a>
              </li>
              <li class="nav-item px-5">
                <a class="nav-link" href="/theater">Theatre</a>
              </li>
              <li class="nav-item px-5">
                <a class="nav-link" href="/contactUs">Contact</a>
              </li>
            </ul>
            <span class="navbar-text me-5">
              <a href="/profile" style="color: white; font-size: 30px"
                ><i class="fa-solid fa-circle-user"></i
              ></a>
            </span>
          </div>
        </div>
      </nav>
      <!-- /Navigation Section -->
      <div class="white-line"></div>
    </div>
   

   
<div style="margin-left: 5%;">
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight" style="color: whitesmoke;"> <div class="container mt-5" >
      <div class="form-group" >
        <select id="showDate " class="px-3 rounded py-1" style="background-color: black; color: #f5167e; border: 1px solid #f5167e ;">
            <% dateOptions.forEach(date => { %>
                <option value="<%= date %>"><%= new Date(date).toLocaleDateString() %></option>
            <% }); %>
        </select>
      </div>
  </div></div>
    

  <div class="p-2 flex-fill bd-highlight" style="color: whitesmoke;"><div class="container mt-5">
    <div class="form-group" style="position: relative; display: inline-block;">
        <select class="form-control" style="width: 150px; height: 30px; font-size: 14px; background-color: black; color: #f5167e; text-transform: uppercase; background-image: url('https://cdn.example.com/dropdown-arrow.png'); background-repeat: no-repeat; background-position: right center;">
            <option>Choose Theatre</option>
            <option>Lugar Theater</option>
            <option>Trowa Theater</option>
        </select>
    </div>
</div>
    </div>

  
    <div class="p-2 flex-fill bd-highlight" style="color: whitesmoke;">
      <div class="container mt-5">
          <div class="form-group" style="display: flex; align-items: center;color: #f5167e;">Start Time :
            <div style="border: 1px solid #f5167e;" class="px-4 ms-2 rounded">
                <%= movie.show_start_time %>
            </div>
          </div>
      </div>
  </div>
  
  
  
  
  
  
  
  

  <div class="p-2 flex-fill bd-highlight" style="color: whitesmoke;">
    <div class="container mt-5">
        <div class="form-group">
            <div style="display: flex;color: #f5167e;">End Time :
                <div style="border: 1px solid #f5167e;" class="px-4 ms-2 rounded">
                    <%= movie.show_end_time %>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</div>

<div class="container">
  <div class="text-center">
      <p class="text-white">Movie Screen</p>
  </div>
  <div>
      <div class="container border border-white w-50 bg-white" style="height: 5vh;"></div>
      <div class="mt-3 container w-50 d-flex justify-content-between">
          <div>
              <div  style="height: 10vh; background-color: #505050;"></div>
              <p class="text-white mt-3">Occupied</p>
          </div>
          <div>
              
              <div style="height: 10vh; background-color: #F5167E;"></div>
              
              <p class="text-white mt-3">Your Seat</p>
          </div>
          <div>
              <div class="bg-white" style="height: 10vh;"></div>
              <p class="text-white mt-3">Available</p>
          </div>
      </div>
  </div>
  
  </div>
  <div id="seats-container" class="container seats-container mt-4"></div>
  <div id="status" class="text-center text-white mt-5"></div>
</div>

<a href="transaction.html" class="btn btn-success" style="background-color: #f5167e; border-color: #f5167e; color: white; margin-left: 45%; margin-top: 5%; border-radius: 20px; padding: 0px 30px;font-size: 35px;"><p style="font-size: 15px;margin-top: 10px;">Confirm</p></a>


   


    
  

    
    
    
    
   
    

    
     <!--Top sale-->
     <section id="top-sale" style="">
        <div class="container py-5">
            <h4 class="text-white ">All Movies</h4>
            <hr class="text-white">
            <!--owl carousel-->
                <div class="owl-carousel owl-theme px-5">
                    <% if (movies != '') { %>
                        <% movies.forEach((row) => { %>
                            <div class="item py-2"> 
                                <div class="product font-rale">
                                    <a href="/movieDetails/<%= row.id %>">
                                        <img src="/MovieImages/<%=row.image %>" alt="<%= row.title %>" class="img-fluid rounded">
                                    </a>
                                </div>
                            </div>

                        <% }) %>
                    <% } else { %>
                        <h2 class="text-center text-white text-secondary mt-5">No Movies found in the database!</h2>
                    <% } %>
                </div>
            <!--!owl carousel-->
        </div>
    </section>
    <!--!Top sale-->

      <footer>
        <hr class="text-white" style="width: 90%; margin-left: 5%" />

        <!-- Remove the container if you want to extend the Footer to full width. -->
        <div class="container my-5">
          <!-- Footer -->
          <footer
            class="text-center text-lg-start text-white"
            style="background-color: #000000"
          >
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Links -->
              <section class="">
                <!--Grid row-->
                <div class="row">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <img
                      src="assets/logo.png"
                      style="max-width: 20%; height: auto"
                    />

                    <br />
                    <br />
                    <p>Lungtenphu,Thimphu,Bhutan</p>
                    <p>Phone: +975 1786 0177</p>
                    <p>Email: flimflex@gmail.com</p>
                  </div>
                  <!-- Grid column -->

                  <hr class="w-100 clearfix d-md-none" />

                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6
                      class="text-uppercase mb-4 font-weight-bold"
                      style="color: #f5167e"
                    >
                      Useful Links
                    </h6>

                    <p>
                      <a class="nav-color" href="homepage.html">Home</a>
                    </p>

                    <p>
                      <a class="nav-color" href="About.html">About</a>
                    </p>
                    <p>
                      <a class="nav-color" href="TermOfServices.html"
                        >Terms of service</a
                      >
                    </p>
                    <p>
                      <a class="nav-color" href="Privacy.html"
                        >Privacy policy
                      </a>
                    </p>
                  </div>
                  <!-- Grid column -->

                  <hr class="w-100 clearfix d-md-none" />

                  <!-- Grid column -->
                  <hr class="w-100 clearfix d-md-none" />

                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6
                      class="text-uppercase mb-4 font-weight-bold"
                      style="color: #f5167e"
                    >
                      Our services
                    </h6>
                    <p>
                      <a class="nav-color" href="Bookticket.html">
                        Book Ticket</a
                      >
                    </p>

                    <p>
                      <a class="nav-color" href="ScreenMovie.html"
                        >Screen Movie</a
                      >
                    </p>
                    <p>
                      <a class="nav-color" href="Contact.html">Contact Us</a>
                    </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6
                      class="text-uppercase mb-4 font-weight-bold"
                      style="color: #f5167e"
                    >
                      Our social networks
                    </h6>

                    <!-- Facebook -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-facebook-f"></i
                    ></a>

                    <!-- Twitter -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-twitter"></i
                    ></a>

                    <!-- Google -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-google"></i
                    ></a>

                    <!-- Instagram -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-instagram"></i
                    ></a>

                    <!-- Linkedin -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-github"></i
                    ></a>
                  </div>
                </div>
                <!--Grid row-->
              </section>
              <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div
              class="text-center p-3"
              style="
                background-color: rgba(0, 0, 0, 0.2);
                text-align: left;
                color: #f5167e;
              "
            >
              © Copyright Flimflex. All Right Reserved
            </div>

            <!-- Copyright -->
          </footer>
          <!-- Footer -->
        </div>
        <!-- End of .container -->
      </footer>
    </section>
    <!--!Specail Price-->

    <!--jquery cdn -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!--Owl carousel javascript cdn-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
      integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Bootstrap JavaScript link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!--isotope plugin cdn-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"
      integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!--Custom javascript-->
    <script src="/js/userHome.js"></script>
    <script src="/js/booking.js"></script>
    
  </body>
</html>
