[10:57 am, 31/10/2023] +975 17 44 70 29: <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup Page</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <style>
            body {
                background-color: #000;
                color: #FFF;
            }
    
            .form-border {
                border-color: #F5167E;
            }
    
            .btn-primary {
                background-color: #F5167E;
                color: #FFF;
                border: none;
            }
    
            .btn-primary:hover {
                background-color: #D4106E;
            }
            .card{
                background-color: black;
                width: 100%; /* Adjust the width as needed */
                margin: 0 auto; /* Center the card on the page */
            }
            #text{
                color: white;
            }
            .mail-icon {
                font-size: 5rem; /* Adjust the font size as needed */
                color: #F5167E;
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card form-border mt-5">
                        <div class="card-body">
                            <div class="mt-5">
                                <h2 class="card-title text-center mb-4" style="color:#F5167E;">Email Confirmation</h2>
                            </div>
                            <div class="mail-icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="mt-3 ">
                                <h4 id="text" class="text-center h4">Registraiton Successful. Please Check Your Mail to verify your email</h4>
                            </div>
                            <div class="d-flex justify-content-center align-item-center">
                                <div class=" w-25">
                                    <div class="d-grid mt-4 ">
                                        <a href="/login"><button type="submit" class=" w-100 btn btn-primary p-2 h4">Continue</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Bootstrap JS and dependencies (optional) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    
</html>
[11:01 am, 31/10/2023] +975 17 44 70 29: <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film Flex</title>
    <!-- Bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Font Awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!--Owl Carousal CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="style.css" />

    <style>
     
      .white-line {
        margin-left: 10%;
        height: 2px;
        background-color: white;
        position: absolute;
        width: 80%;
        bottom: 75vh;
      }
      
      .button-group button.active {
        border-color: #f5167e;
      }
      .circle-icon {
            background-color: #f5167e;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a{
          text-decoration: none;
          color: #f5167e;
        }
    </style>
  </head>

  <body style="background-color: black">
   
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand ms-5 py-2 rounded" href="#">
            <img src="assets/logo.png" alt="" class="img-fluid" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse me-5" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto">
              <li class="nav-item px-5">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/home"
                 
                  >Home</a
                >
              </li>
              <li class="nav-item px-5">
                <a class="nav-link" href="/movie">Movies</a>
              </li>
              <li class="nav-item px-5">
                <a class="nav-link" href="/theater">Theatre</a>
              </li>
              <li class="nav-item px-5">
                <a class="nav-link" href="/contactUs"style="color: #f5167e">Contact</a>
              </li>
            </ul>
            <span class="navbar-text me-5">
              <a href="/profile" style="color: white; font-size: 30px"
                ><i class="fa-solid fa-circle-user"></i
              ></a>
            </span>
          </div>
        </div>
      </nav>
      <!-- /Navigation Section -->
      <div class="white-line"></div>
    </div>

    
    <div class="container" style="margin-top: 8%;">
      <div>
        <h3 class="text-white mt-5">Contact Us</h3>
      </div>
     
        <% 

        if(typeof message !=='undefined'){
        %>
        <p id="text" class="text-white text-center p-3" style="border: 1px solid #f5167e;"><%= message %></p>
        <% 
        }

        %>
     
      <div class="row mt-5 pt-5">
          <div class="col-4">
              <div class="d-flex align-items-center" style="color: white;">
                  <div class="circle-icon">
                      <i class="fas fa-map-marker-alt fa-2x mr-2"></i>
                  </div>
                  <p style="margin-left: 6%;">Lungtenphu, Thimphu, Bhutan</p>
              </div>
          </div>
          <div class="col-4">
              <div class="d-flex align-items-center" style="color: white;">
                  <div class="circle-icon">
                      <i class="fas fa-envelope fa-2x mr-2"></i>
                  </div>
                  <p style="margin-left: 6%;">12200004.gcit@rub.edu.bt</p>
              </div>
          </div>
          <div class="col-4">
              <div class="d-flex align-items-center" style="color: white;">
                  <div class="circle-icon">
                      <i class="fas fa-phone fa-2x mr-2"></i>
                  </div>
                  <p style="margin-left: 6%;">+975 17447029</p>
              </div>
          </div>
      </div>
  </div>
  
  <form style="background-color: black; color: white; padding: 18px; margin-left: 5%;" method="post">
    <div class="form-group" style="display: flex; align-items: center;">
        <label for="name" style="margin-right: 2%;">Name</label>
        <input type="text" class="form-control" id="name" name="name" style="flex: 1; margin-right: 5%;background-color: #000000;border:2px solid #f5167e;color: white;">
       <br><br><br><br><br><br><br><br><br>
        <label for="name" style="margin-right: 2%;">Subject</label>
        <input type="text" class="form-control" id="name" name="subject" style="flex: 1; margin-right: 5%;background-color: #000000;border:2px solid #f5167e;color: white;">
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" rows="4" name="message" style="background-color: #000000;border:2px solid #f5167e;width:90%;margin-left:5%;color: white;"></textarea>
    </div>
    <div class="text-center mt-5">
      <input type="submit" class="btn px-5 py-2 text-white" name="submit" id="submit"  value="Confirm" style="border:1px solid #f5167e; background-color: #f5167e;">
    </div>
</form>    

      <footer>
        <hr class="text-white" style="width: 90%; margin-left: 5%" />

        <!-- Remove the container if you want to extend the Footer to full width. -->
        <div class="container my-5">
          <!-- Footer -->
          <footer
            class="text-center text-lg-start text-white"
            style="background-color: #000000"
          >
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Links -->
              <section class="">
                <!--Grid row-->
                <div class="row">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <img
                      src="assets/logo.png"
                      style="max-width: 20%; height: auto"
                    />

                    <br />
                    <br />
                    <p>Lungtenphu,Thimphu,Bhutan</p>
                    <p>Phone: +975 1786 0177</p>
                    <p>Email: flimflex@gmail.com</p>
                  </div>
                  <!-- Grid column -->

                  <hr class="w-100 clearfix d-md-none" />

                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6
                      class="text-uppercase mb-4 font-weight-bold"
                      style="color: #f5167e"
                    >
                      Useful Links
                    </h6>

                    <p>
                      <a class="nav-color" href="/home">Home</a>
                    </p>

                    <p>
                      
                      <a class="nav-color" href="About.html">About</a>
                    </p>
                    <p>
                      <a class="nav-color" href="TermOfServices.html">Terms of service</a>
                    </p>
                    <p>
                      <a  class="nav-color" href="Privacy.html">Privacy policy </a>
                    </p>
                  </div>
                  <!-- Grid column -->

                  <hr class="w-100 clearfix d-md-none" />

                  <!-- Grid column -->
                  <hr class="w-100 clearfix d-md-none" />

                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6
                      class="text-uppercase mb-4 font-weight-bold"
                      style="color: #f5167e"
                    >
                      Our services
                    </h6>
                    <p>
                        <a class="nav-color" href="Bookticket.html"> Book Ticket</a>
                      </p>
  
                      <p>
                        
                        <a class="nav-color" href="ScreenMovie.html">Screen Movie</a>
                      </p>
                      <p>
                        <a class="nav-color" href="Contact.html">Contact Us</a>
                      </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6
                      class="text-uppercase mb-4 font-weight-bold"
                      style="color: #f5167e"
                    >
                      Our social networks
                    </h6>

                    <!-- Facebook -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-facebook-f"></i
                    ></a>

                    <!-- Twitter -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-twitter"></i
                    ></a>

                    <!-- Google -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-google"></i
                    ></a>

                    <!-- Instagram -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-instagram"></i
                    ></a>

                    <!-- Linkedin -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #f5167e"
                      href="#!"
                      role="button"
                      ><i class="fab fa-github"></i
                    ></a>
                  </div>
                </div>
                <!--Grid row-->
              </section>
              <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div
              class="text-center p-3"
              style="
                background-color: rgba(0, 0, 0, 0.2);
                text-align: left;
                color: #f5167e;
              "
            >
              © Copyright Flimflex. All Right Reserved
            </div>

            <!-- Copyright -->
          </footer>
          <!-- Footer -->
        </div>
        <!-- End of .container -->
      </footer>
    </section>
    <!--!Specail Price-->

    <!--jquery cdn -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!--Owl carousel javascript cdn-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
      integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Bootstrap JavaScript link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!--isotope plugin cdn-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"
      integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!--Custom javascript-->
    <script src="./index.js"></script>

    <!-- Inlude Bootstrap JS for additional functionality -->
    
  </body>
</html>