<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Flex</title>
    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--Owl Carousal CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/CSS/userHome.css">
    
    <style>

        .white-line {
            margin-left: 10%;
            height: 2px;
            background-color: white;
            position: absolute;
            width: 80%;
            bottom: 75vh;
        }
       
        .button-group button.active {
            border-color: #F5167E;
        }
    </style>
</head>

<body style="background-color: black;">

    <!-- Banner -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand ms-5 py-2 rounded" href="#">
                    <img src="/assets/logo.png" alt="" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse me-5" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto ">
                        <li class="nav-item px-5">
                            <a class="nav-link " a href="/home" >Home</a>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link active"ria-current="page" href="/movie" style="color: #F5167E;">Movies</a>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link" href="/theater">Theater</a>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link" href="/contactUs">Contact</a>
                        </li>
                    </ul>
                    <span class="navbar-text me-5">
                        <a href="/profile" style="color: white; font-size: 30px;"><i class="fa-solid fa-circle-user"></i></a>
                    </span>
                </div>
            </div>
        </nav>
        <!-- /Navigation Section -->
        <div class="white-line"></div>
    </div>
    <!-- /Banner -->
    <!--Top sale-->
    <section id="top-sale" style="">
        <div class="container py-5">
            <h4 class="text-white ">New Release</h4>
            <hr class="text-white">
            <!--owl carousel-->
                <div class="owl-carousel owl-theme px-5">
                    <% if (movies != '') { %>
                        <% movies.forEach((row) => { %>
                            <% const releaseDate = new Date(row.releasedDate); %>
                            <% const currentDate = new Date(); %>
                            <% const timeDifference = currentDate.getTime() - releaseDate.getTime(); %>
                            <% const daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24)); %>
                            
                            <% if (daysDifference >= 0 && daysDifference <= 15) { %>
                                <div class="item py-2"> 
                                    <div class="product font-rale">
                                        <a href="/movieDetails/<%= row.id %>">
                                            <img src="/MovieImages/<%=row.image %>" alt="<%= row.title %>" class="img-fluid rounded">
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                        <% }) %>
                    <% } else { %>
                        <h2 class="text-center text-white text-secondary mt-5">No Movies found in the database!</h2>
                    <% } %>
                </div>
            <!--!owl carousel-->
        </div>
    </section>
    <!--!Top sale-->
    <!--Specail Price-->
    <section id="special-price">
        <div class="container">
            <h4 class="font-rubik font-size-20 text-white">Genre</h4>
            <div id="fliters" class="button-group text-end font-agdasima font-size-16">
                <button class="btn is-checked text-white" data-filter="*">All</button>
                <button class="btn text-white" data-filter=".action">Action</button>
                <button class="btn text-white" data-filter=".comedy">Comedy</button>
                <!-- <button class="btn text-white" data-filter=".lovestory">Love Story</button> -->
            </div>
            <hr class="text-white">
            <div class="grid">
                <% if (movies != '' ) { %>    
                    <% movies.forEach((row) => { %>
                        <div class="grid-item <%= row.genre %> ">
                            <div class="item py-2" style="width: 200px;">
                                <div class="product font-rale">
                                    <a href="/movieDetails/<%=row._id %>">
                                        <img src="/MovieImages/<%= row.image %>" alt="product11" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% }else{ %>
                    <h2 class="text-center text-white text-secondary mt-5">No Movies found in the database!</h2>
               <% } %>
            </div>
        </div>
    </section>
    <!--!Specail Price-->


    <!--Top sale-->
    <section id="top-sale">
        <div class="container py-5">
            <h4 class="text-white ">Upcoming Movies</h4>
            <hr class="text-white">
            <!--owl carousel-->
                <div class="owl-carousel owl-theme px-5">
                    <% if (movies != '') { %>
                        <% movies.forEach((row) => { %>
                            <% const releaseDate = new Date(row.releasedDate); %>
                            <% const currentDate = new Date(); %>
                            <% const timeDifference = releaseDate.getTime() - currentDate.getTime(); %>
                            <% const daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24)); %>
            
                            <% if (daysDifference > 0) { %>
                                <div class="item py-2"> 
                                    <div class="product font-rale">
                                        <a href="/movieDetails/<%=row._id %>">
                                            <img src="/MovieImages/<%=row.image %>" alt="<%= row.title %>" class="img-fluid rounded">
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                    <% }) %>
                    <% } else { %>
                        <h2 class="text-center text-white text-secondary mt-5">No Movies found in the database!</h2>
                    <% } %>

                </div>
            <!--!owl carousel-->
        </div>
    </section>
    <!--!Top sale-->

    

    <!--jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Owl carousel javascript cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
    <!-- Bootstrap JavaScript link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"crossorigin="anonymous"></script>

    <!--isotope plugin cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
    <!--Custom javascript-->
    <script src="/js/userHome.js"></script>

    <script>
        const buttons = document.querySelectorAll('.button-group button');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                buttons.forEach(innerButton => {
                    innerButton.classList.remove('active');
                });
                button.classList.add('active');
            });
        });
    </script>
  
</body>

</html>