<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Flex</title>
    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--owl carousel link-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!--custome css link-->
    <link rel="stylesheet" href="/CSS/userHome.css">

    <% if (movie != '')  %>
        
    <style>
        .banner {
            position: relative;
            text-align: center;
            background-image: url('/MovieImages/<%= movie.image%>');
            background-size: cover;
            background-position: top;
            height:100vh;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Black background with 70% opacity */
        }

        .text-over-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }

        .navbar {
            position: absolute;
            width: 100%;
            top: 0;
            background-color: transparent;
        }

        .navbar-nav {
            margin: 0 auto;
        }

        .white-line {
            margin-left: 10%;
            height: 2px;
            background-color: white;
            position: absolute;
            width: 80%;
            bottom: 75vh;
        }
        @media (max-width: 768px) {
            .banner {
                height: auto;
                min-height: 70vh;
                background-size: cover; /* Ensure the background image covers the element */
            }

            .overlay {
                height: 100%;
            }
            .text-over-overlay{
                display: none;
            }

        }
        .button-group button.active {
            border-color: #F5167E;
        }
        
    </style>
</head>

<body style="background-color: black;">

    <!-- Banner -->
    <div class="banner">
        <div class="overlay"></div>
        <div class="text-over-overlay  mt-5">
            <h1>Watch the latest Bhutanes Movies</h1>
            <p class="mt-3">Look no further! FlimFlex will help you book tickets in the simplest way for you to watch the latest Bhutanese movies.</p>
            <div class="d-flex mt-5 px-5 justify-content-center">
                <div class="p-2">
                    <a href="" style="text-decoration: none;">
                        <div class=" px-4 py-2" style="background-color: #F5167E; border-radius: 20px; color: white;">
                            Book Now
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
        
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand ms-5 py-2 rounded" href="#">
                    <img src="/assets/logo.png" alt="" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse me-5" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto ">
                        <li class="nav-item px-5">
                            <a class="nav-link"href="/home">Home</a>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link active"aria-current="page" href="#" style="color: #F5167E;">Movies</a>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link" href="/theater">Theater</a>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link" href="/contactUs">Contact</a>
                        </li>
                    </ul>
                    <span class="navbar-text me-5">
                        <a href="/profile" style="color: white; font-size: 30px;"><i class="fa-solid fa-circle-user"></i></a>
                    </span>
                </div>
            </div>
        </nav>
        <!-- /Navigation Section -->
        <div class="white-line"></div>
    </div>
    <!-- /Banner -->
    <div class="container mt-5 text-white">
        <div class="row">
            <div class="col-md-4 text-center" >
                <img src="/MovieImages/<%= movie.image%>" alt="" class="img-fluid rounded">
            </div>
            <div class="col-md-8 text-start">
                <h4> <%= movie.title %></h4>
                <br>
                <p>Description:</p>
                <p>
                    <%= movie.description%>
                </p>
                <br>
                <p>Genre: <%= movie.genre%></p>
                <br>
                <% const releasedDate = movie.releasedDate;%>
                <% const formattedReleasedDate = releasedDate.toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit'
                });%>
                <p>Released Date(mm/dd/yy): <%= formattedReleasedDate %></p>
                <br>
                <p class="text-start"><i class="fa-solid fa-clock" style="color: #F5167E;"></i> ShowStartTime: <%= movie.show_start_time %></p>
                <p class="text-start"><i class="fa-solid fa-clock" style="color: #F5167E;"></i> ShowEndTime: <%= movie.show_end_time %></p>
            </div>
        </div>
    </div>
    <div class="container mt-5 p-5 text-center">
        <a href="/booking/<%= movie._id%>"><button style="background-color: #F5167E; color: white; border-radius: 30px;" class="px-5 py-3 ">Book Now</button></a>
    </div>
    <!--Top sale-->
    <section id="top-sale" style="">
        <div class="container py-5">
            <h4 class="text-white ">All Movies</h4>
            <hr class="text-white">
            <!--owl carousel-->
                <div class="owl-carousel owl-theme px-5">
                    <% if (movies != '') { %>
                        <% movies.forEach((row) => { %>
                            <div class="item py-2"> 
                                <div class="product font-rale">
                                    <a href="/movieDetails/<%= row.id %>">
                                        <img src="/MovieImages/<%=row.image %>" alt="<%= row.title %>" class="img-fluid rounded">
                                    </a>
                                </div>
                            </div>

                        <% }) %>
                    <% } else { %>
                        <h2 class="text-center text-white text-secondary mt-5">No Movies found in the database!</h2>
                    <% } %>
                </div>
            <!--!owl carousel-->
        </div>
    </section>
    <!--!Top sale-->
   

       <!--jquery cdn -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap JavaScript link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"crossorigin="anonymous"></script>

     <!--Owl carousel javascript cdn-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--isotope plugin cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/userHome.js"></script>
</body>

</html>