<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <style>
            body {
                background-color: #000;
                color: #FFF;
            }
    
            .form-border {
                border-color: #F5167E;
            }
    
            .btn-primary {
                background-color: #F5167E;
                color: #FFF;
                border: none;
            }
    
            .btn-primary:hover {
                background-color: #D4106E;
            }
            .card{
                background-color: black;
                width: 100%; /* Adjust the width as needed */
                margin: 0 auto; /* Center the card on the page */
            }
            #text{
                color: white;
            }
            .profile-icon {
                font-size: 3rem; /* Adjust the font size as needed */
                color: #F5167E;
                text-align: center;
            }
            .password-form {
                display: none;
            }

            .form-group {
                margin-bottom: 1rem;
            }
        </style>
    </head>
    
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-user profile-icon"></i>
                        <p class="h3 ms-3 mt-3" style="color: #F5167E;">Profile</p>
                    </div>
                    <div class="card form-border mt-3">
                        <div class="row">
                            <!-- First column for small profile picture and name -->
                            <div class="col-md-4 text-center p-5">
                                <!-- Profile picture goes here -->
                                <img src="userImages/<%=user.image %>"  class="img-fluid  mb-3">
                                <h5 class="mb-0" id="text"><%= user.name %></h5>
                            </div>
                            <!-- Second column for links, overview, and details -->
                            <div class="col-md-8 py-4">
                                <div class="mb-3 text-start d-flex justify-content-between">
                                    <a href="#" class="nav-link text-decoration-none text-white active" id="overviewLink">Overview</a>|
                                    <a href="#" class="nav-link text-decoration-none text-white me-5" id="changePasswordLink">Change Password</a>
                                </div>
                                <hr style="color: #F5167E;">
                                <div id="overviewContent" class=" me-5">
                                    <h4 id="text">Profile Details</h4>
                                    <div class="mt-5">
                                        <div class=" me-5 w-50 d-flex justify-content-between">
                                            <p class="mb-3" id="text">Full Name: </p><p id="text"><%= user.name %></p>
                                        </div>
                                        <div class=" me-5 w-50 d-flex justify-content-between">
                                            <p class="mb-3" id="text">Email: </p><p id="text"><%= user.email %></p>
                                        </div>
                                        <div class=" me-5 w-50 d-flex justify-content-between">
                                            <p class="mb-3" id="text">Phone Number: </p><p id="text"><%= user.phoneNumber %></p>
                                        </div>
                                        <div class="container text-center mt-5">
                                            <a href="/logout" style="text-decoration: none;border-radius: 2rem; background-color:#F5167E;" class="border border-white px-5 py-2 text-white ">Logout</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="passwordContent" class="password-form px-5">
                                    <h4 id="text">Change Password</h4>
                                   <div class="mt-5">
                                        <div class="form-group position-relative">
                                            <label for="currentPassword" class="form-label" id="text">Enter Current Password:</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="currentPassword" style="border-color: #F5167E; background-color: #000; color: white;">
                                                <button class="btn btn-outline-secondary" type="button" id="currentPasswordToggle"><i class="fas fa-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="form-group position-relative">
                                            <label for="newPassword" class="form-label" id="text">Enter New Password:</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="newPassword"style="border-color: #F5167E; background-color: #000; color: white;">
                                                <button class="btn btn-outline-secondary" type="button" id="newPasswordToggle"><i class="fas fa-eye"></i></button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" id="confirmPasswordBtn">Confirm</button>

                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script>
            const overviewLink = document.getElementById("overviewLink");
            const changePasswordLink = document.getElementById("changePasswordLink");
            const overviewContent = document.getElementById("overviewContent");
            const passwordContent = document.getElementById("passwordContent");
    
            overviewLink.addEventListener("click", () => {
                overviewContent.style.display = "block";
                passwordContent.style.display = "none";
                overviewLink.classList.add("active");
                changePasswordLink.classList.remove("active");
            });
    
            changePasswordLink.addEventListener("click", () => {
                overviewContent.style.display = "none";
                passwordContent.style.display = "block";
                changePasswordLink.classList.add("active");
                overviewLink.classList.remove("active");
            });
            const currentPasswordInput = document.getElementById("currentPassword");
    const newPasswordInput = document.getElementById("newPassword");
    const currentPasswordToggle = document.getElementById("currentPasswordToggle");
    const newPasswordToggle = document.getElementById("newPasswordToggle");

    currentPasswordToggle.addEventListener("click", function () {
        togglePasswordVisibility(currentPasswordInput, currentPasswordToggle);
    });

    newPasswordToggle.addEventListener("click", function () {
        togglePasswordVisibility(newPasswordInput, newPasswordToggle);
    });

    function togglePasswordVisibility(inputElement, toggleButton) {
        const type = inputElement.getAttribute("type") === "password" ? "text" : "password";
        inputElement.setAttribute("type", type);
        toggleButton.querySelector("i").classList.toggle("fa-eye-slash");
    }

        </script>
        <!-- Bootstrap JS and dependencies (optional) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>